.recomendados {
  display: flex;
  margin-top: 120px;
}

.recomendados-carrousel {
  flex-grow: 1;
  padding-left: 48px;
  padding-right: 48px;
}

.recomendados-info {
  max-width: 200px;
  padding-left: 120px;
}
